body {
  margin: 0;

  --font-container-default: 16px system-ui;
  --font-button-default: 20px system-ui;

  --color-container-default: white;
  --color-button-default: black;

  --background-button-default: hsl(0, 0%, 100%);
  --background-button-disabled: hsl(0, 0%, 50%);
  --background-container-default: hsl(0, 0%, 10%);

  --padding-sm: 4px;
  --padding-md: 8px;

  --border-button-default: 2px solid hsl(0, 0%, 50%);
}
