@mixin container-default {
  overflow: scroll;

  font: var(--font-container-default);
  color: var(--color-container-default);
  background: var(--background-container-default);

  position: absolute;
  bottom: 0;

  padding: var(--padding-md);

  box-sizing: border-box;
}

@mixin button-default {
  font: var(--font-button-default);
  color: var(--color-button-default);
  background: var(--background-button-default);
  border: var(--border-button-default);

  padding: var(--padding-md);

  &:disabled {
    background: var(--background-button-disabled);
  }
}

@mixin divider-default {
  margin: var(--padding-md) 0;
  border-top: var(--border-divider-default);
}
