@import 'core';

.container {
  @include container-default;

  width: 100dvw;
  height: 50dvh;

  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  @include button-default;
}

.controls {
}

.divider {
  @include divider-default;
}
