@import 'core';

.container {
  @include container-default;

  height: 50dvh;
  width: 100dvw;

  display: flex;
  flex-direction: column;

  gap: var(--padding-md);
}

.button {
  @include button-default;
}

.select {
  @include select-default;
}

.content {
  flex: 1;
  border: 1px solid gray;
  overflow: scroll;
  padding: var(--padding-md);
}

.controls {
}

.json {
  margin: 0;
}
